/**
    Sergio Matamoros Delgado
*/
body {
    /**
        sobreescribimos estilos....
    
    margin: 0px !important;
    padding: 0px !important;*/
}
nav img {
    width: 200px;
}

.card .shadow-sm img
{
    width: 200px;
}

footer {
    background-color: #0b3b83;
}